body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	font-size: 18px;
	background: #fff;
	background-image: url("../images/tile-body.gif");
    background-repeat: repeat-x;
	margin-top:10px;	
}
@font-face {
	font-family: 'Conv_MyriadPro-Bold_0';
	src: url('../fonts/MyriadPro-Bold_0.eot');
	src: local('☺'), url('../fonts/MyriadPro-Bold_0.woff') format('woff'), url('../fonts/MyriadPro-Bold_0.ttf') format('truetype'), url('../fonts/MyriadPro-Bold_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Roboto-BoldCondensed';
	src: url('../fonts/Roboto-BoldCondensed.eot');
	src: local('☺'), url('../fonts/Roboto-BoldCondensed.woff') format('woff'), url('../fonts/Roboto-BoldCondensed.ttf') format('truetype'), url('../fonts/Roboto-BoldCondensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_MyriadPro-Regular_0';
	src: url('../fonts/MyriadPro-Regular_0.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular_0.woff') format('woff'), url('../fonts/MyriadPro-Regular_0.ttf') format('truetype'), url('../fonts/MyriadPro-Regular_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_MyriadPro-It_0';
	src: url('../fonts/MyriadPro-It_0.eot');
	src: local('☺'), url('../fonts/MyriadPro-It_0.woff') format('woff'), url('../fonts/MyriadPro-It_0.ttf') format('truetype'), url('../fonts/MyriadPro-It_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Nexa Bold';
	src: url('../fonts/Nexa Bold.eot');
	src: local('☺'), url('../fonts/Nexa Bold.woff') format('woff'), url('../fonts/Nexa Bold.ttf') format('truetype'), url('../fonts/Nexa Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
#contentwrap {
	width: 900px;
	margin: 0 auto;
	position: relative;
	background: #fff;
}
img {
	border: 0px;
	outline: none;
}
.clear {
	clear: both;
}
.clear40 {
	clear: both;
	height: 80px;
}
.clear41 {
	clear: both;
	height: 21px;
}
.clear10 {
	clear: both;
	height: 10px;
}
.clear15 {
	clear: both;
	height: 15px;
}
#header {
	width: 100%;
	height:150px;
	padding-top:20px;
}
#header1 {
	width: 100%;
	height: 390px;
}
.menu_top {
	height: 40px;
	width: 957px;
	margin: 0 auto;
	z-index: 99999;
	position: relative;
	background: #000000;
}
.navwrap {
	height: 57px;
	margin: 0 auto;
}
.nav {
	margin: 0px;
	padding: 0px;
}
.nav ul {
	margin: 0px 0px 0px 0px;
	padding: 7px 0px 0px 0px;
	text-align: center;
}
.nav ul li {
	margin: 0px;
	display: inline;
	padding: 0px 16px;
	font-family: 'Conv_MyriadPro-Bold_0', Sans-Serif;
	font-weight: normal;
	color: #fff;
	text-decoration: none;
}
.nav ul li a {
	font-family: 'Conv_MyriadPro-Bold_0', Sans-Serif;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}
.nav ul li a:hover {
	color: #fdd79d;
	text-decoration: none;
}
.nav ul li .active {
	color: #fdd79d;
	text-decoration: none;
}
#bannerwrap {
}
.banner {
	margin: 0px;
	padding: 0px;
}
.banner img {
	display: block;
	max-width: 100%;/*	height:538px;
*/
}
.bg_colorwrap {
	max-width: 100%;
}
.shadow_banner {
	background: url(../images/shdow.png) repeat-x;
	width: 952px;
	height: 27px;
	position: relative;
	z-index: 99999;
	margin: 0 auto;
}
.shadow_banner1 {
	background: url(../images/shdow.png) repeat-x;
	width: 1000px;
	height: 27px;
	margin: 0 auto;
}
.blue {
	background: #a9c7e5;
	position: absolute;
	width: 50%;
	height: 400px;
	z-index: -1;
}
.yellow {
	background: #fdd79d;
	position: absolute;
	width: 50%;
	height: 400px;
	z-index: -1;
}
#content {
	width: 857px;
	margin: 0 auto;
	z-index: 99999;
	overflow: hidden;
	position: relative;
	top: -1px;
}
#content .pagehead {
	font-family: 'Conv_Roboto-BoldCondensed', Sans-Serif;
	font-size: 52px;
	font-weight: normal;
	color: #000000;
	margin: 12px 0px 0px 0px;
	padding: 0px;
	text-align: center;
	line-height: normal;
}
.contentblock {
	float: left;
	width: 480px;
	text-align: center;
	margin: 0px 0px 0px 0px;
}
.contentblock h1 {
	font-family: 'Conv_Roboto-BoldCondensed', Sans-Serif;
	font-size: 40px;
	font-weight: normal;
	color: #000000;
	margin: 12px 0px 0px 30px;
	padding: 0px;
	line-height: normal;
}
.contentblock p {
	font-family: 'Conv_MyriadPro-Regular_0';
	font-size: 18px;
	font-weight: normal;
	color: #000000;
	margin: 12px 20px 0px 30px;
	padding: 0px;
	line-height: normal;
}
.contentblock h2 {
	font-family: 'Conv_MyriadPro-Regular_0';
	font-size: 32px;
	font-weight: bold;
	margin: 12px 0px 0px 30px;
	padding: 0px;
	line-height: normal;
	color: #5490cc;
}
.features ul {
	list-style: url(../images/bullet.png);
	margin-left: 80px;
	text-align: left;
	line-height: 30px;
}
.device {
	float: right;
	width: 280px;
	background: url(../images/device.png) no-repeat;
	height: 582px;
}
#pricingcol2 {
	float: right;
	width: 340px;
}
#pricingcol2 .phead {
	font-size: 24px;
	font-weight: bold;
	line-height: bold;
	color: #000;
	margin: 8px 0px;
	text-align: center;
	font-family: 'Conv_MyriadPro-Regular_0';
}
.not1 {
	float: left;
	margin: 10px 24px;
}
.not1 img {
}
.not1 span {
	font-size: 13px;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	line-height: normal;
	color: #ccc;
}
.price {
	font-size: 18px;
	color: #020000;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	line-height: 34px;
}
.price span {
	font-size: 12px;
	color: #020000;
	text-align: center;
	padding: 0px;
	margin: 0px;
	bottom: 0;
	line-height: 0;
}
.arrows {
	margin: 0 auto;
	width: 957px;
	position: relative;
	display: block;
	height: 198px;
	z-index: 99999;
	top: -1px;
	background: url(../images/arrow.png) no-repeat;
}
#iphonescroll {
	width: 225px;
	position: relative;
	z-index: 99999;
	top: 68px;
	left: 18px;
	height: 337px;
}
.navicon {
	width: 540px;
	overflow: hidden;
	margin: 40px 0px 0px 15px;
}
.signup {
	margin: 0px auto;
	padding: 0px;
	position: relative;
	top: 30px;
}
.signup1 {
	padding: 0px;
	top: 30px;
	text-align: center;
}
.not2 {
	float: left;
	margin: 0px 6px;
}
.not2 img:hover {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
	background: #fff;
}
.not2 span {
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	line-height: normal;
	color: #000;
	font-family: 'Conv_MyriadPro-Regular_0';
}
.content_divisions {
	width: 702px;
	margin: 0 auto;
	overflow: hidden;
}
.notifications {
	width: 702px;
	position: relative;
}
.notifications img {
	float: left;
}
.width {
	width: 400px;
}
.notifications_cont {
	width: 470px;
	float: right;
	margin: 20px 0px 0px 0px;
}
.notifications p {
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	color: #000;
	margin: 8px 0px;
	font-family: 'Conv_MyriadPro-It_0';
}
.notifications h3 {
	font-size: 22px;
	font-weight: bold;
	line-height: normal;
	color: #000;
	margin: 8px 0px;
	text-align: left;
	font-family: 'Conv_MyriadPro-Regular_0';
}
.signuptxt {
	font-family: 'Conv_Nexa Bold';
	font-size: 14px;
	color: #a3a3a3;
	text-decoration: none;
}
.signuptxt a {
	color: #a3a3a3;
	text-decoration: none;
}
.signuptxt a:hover {
	color: #a3a3a3;
	text-decoration: none;
}
.notifications1 {
	width: 702px;
	position: relative;
}
.notifications1 img {
	float: right;
}
.notifications_cont1 {
	width: 470px;
	float: left;
	margin: 20px 0px 0px 0px;
}
.notifications1 p {
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	color: #000;
	margin: 8px 0px;
	font-family: 'Conv_MyriadPro-It_0';
}
.notifications1 h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: bold;
	color: #000;
	margin: 8px 0px;
	text-align: left;
	font-family: 'Conv_MyriadPro-Regular_0';
}
.notifications11 {
	width: 702px;
	position: relative;
}
.notifications11 img {
	float: right;
}
.notifications_cont11 {
	width: 400px;
	float: left;
	margin: 20px 0px 0px 0px;
}
.notifications11 p {
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	color: #000;
	margin: 8px 0px;
	font-family: 'Conv_MyriadPro-It_0';
}
.notifications11 h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: bold;
	color: #000;
	margin: 8px 0px;
	text-align: left;
	font-family: 'Conv_MyriadPro-Regular_0';
}
.notifications22 {
	width: 702px;
	position: relative;
}
.notifications22 img {
	float: left;
}
.notifications_cont22 {
	width: 410px;
	float: left;
	margin: 20px 0px 0px 0px;
}
.notifications22 p {
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	color: #000;
	margin: 8px 0px;
	font-family: 'Conv_MyriadPro-It_0';
}
.notifications22 h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: bold;
	color: #000;
	margin: 8px 0px;
	text-align: left;
	font-family: 'Conv_MyriadPro-Regular_0';
}
#footer {
	width: 957px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}
.sn1 {
	float: right;
	margin: 30px -1px 0px 0px;
}
.sn1 ul {
	margin: 0px 0px 0px 0px;
	display: inline;
}
.sn1 ul li {
	margin: 0px;
	padding: 0px 0px;
	display: inline;
	font-size: 12px;
	color: #ffb608;
}
.sn1 ul li:hover {
	margin: 0px;
	padding: 0px 0px;
	display: inline;
	font-size: 12px;
	color: #ffb608;
}
.copyrights {
	font-size: 24px;
	color: #fff;
	float: left;
	font-family: 'Conv_MyriadPro-It_0';
	padding: 38px 0px 0px 0px;
}
.footerlinks {
	font-size: 18px;
	color: #fff;
	float: left;
	font-family: 'Conv_MyriadPro-It_0';
	padding: 22px 0px 0px 0px;
	width: 445px;
	text-align: center;
	position: relative;
	left: 16px;
}
.footerlinks a {
	font-size: 16px;
	color: #fff;
	font-family: 'Conv_MyriadPro-It_0';
	text-decoration: none;
}
.footerlinks a:hover {
	font-size: 16px;
	color: #fff;
	font-family: 'Conv_MyriadPro-It_0';
	text-decoration: underline;
}
.followus {
	font-size: 24px;
	color: #fff;
	float: left;
	position: relative;
	left: 30px;
	font-family: 'Conv_MyriadPro-Regular_0';
	padding: 38px 0px 0px 0px;
}
#footer {
	width: 957px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}
.snwrap {
	float: right;
	width: 270px;
}
.sn1 {
	float: right;
	margin: 12px -1px 0px 0px;
}
.sn1 ul {
	margin: 0px 0px 0px 0px;
	display: inline;
}
.sn1 ul li {
	margin: 0px;
	padding: 0px 0px;
	display: inline;
	font-size: 12px;
	color: #ffb608;
}
.sn1 ul li:hover {
	margin: 0px;
	padding: 0px 0px;
	display: inline;
	font-size: 12px;
	color: #ffb608;
}
.copyrights {
	font-size: 22px;
	color: #fff;
	float: left;
	font-family: 'Conv_MyriadPro-It_0';
	padding: 22px 0px 0px 10px;
}
.followus {
	font-size: 22px;
	color: #fff;
	float: left;
	position: relative;
	left: 30px;
	font-family: 'Conv_MyriadPro-Regular_0';
	padding: 22px 0px 0px 0px;
}
#menu {
	height: 70px;
	width: 957px;
	margin: 0 auto;
	z-index: 99999;
	position: relative;
	background: #000000;
}
#contact {
	width: 880px;
	padding: 0px 10px;
	position: relative;
	z-index: 99999;
	top: 76px;
	margin: 0 auto;
}
.formwrap {
	width: 550px;
	float: left;
}
.label {
	font-size: 14px;
	color: #000;
	text-align: left;
	float: left;
	padding: 4px 0px 0px 0px;
	width: 220px;
	font-family: Arial, Helvetica, sans-serif;
}
.txtfildwrap {
	width: 252px;
	float: right;
}
.txtfild {
	width: 248px;
	height: 24px;
	border: 1px solid #f2f5f5;
	padding: 2px;
	float: left;
	outline: none;
	background: url(../images/bg_txtfild.jpg) no-repeat;
}
.contact_cont {
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	color: #000;
	margin: 8px 0px;
	font-family: 'Conv_MyriadPro-It_0';
}
.submit {
	margin: 0 auto;
	text-align: center;
}
.errormsg {
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	text-align: center;
	color: #ff0000;
	font-family: 'Conv_MyriadPro-Regular_0';
	width: 300px;
	padding: 0px 0px 10px 0px;
	margin: 10px auto;
}
.rightcontent {
	float: right;
	width: 250px;
	margin: 40px 0px 0px 0px;
	text-align: left;
	font-family: 'Conv_MyriadPro-Regular_0';
}
.rightcontent p {
	font-family: 'Conv_MyriadPro-Regular_0';
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	color: #000;
}
.rightcontent h3 {
	font-family: 'Conv_MyriadPro-Regular_0';
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	color: #cd7300;
	font-size: 18px;
}
.rightcontent h2 {
	font-family: 'Conv_MyriadPro-Regular_0';
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	color: #000;
	font-size: 22px;
}
.captch {
	margin: 20px 0px 0px 300px;
}
.scrollup {
	width: 40px;
	height: 40px;
	opacity: 0.3;
	position: fixed;
	bottom: 100px;
	right: 100px;
	display: none;
	z-index: 99999;
	text-indent: -9999px;
	background: url(../images/icon_top.png) no-repeat;
}
#content p {
	font-family: 'Conv_MyriadPro-Regular_0';
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	margin: 12px 20px 0px 30px;
	padding: 0px;
	line-height: normal;
}
#content .pagehead {
	font-family: 'Conv_Roboto-BoldCondensed', Sans-Serif;
	font-size: 32px;
	font-weight: normal;
	color: #000000;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	text-align: center;
	line-height: normal;
}
.bottombrdr {
	margin: 0 auto;
	width: 957px;
	position: relative;
	display: block;
	height: 32px;
	top: -1px;
	z-index: 99999;
	background: url(../images/bottom_brdr.png) no-repeat;
}
.video{
	position:relative;
	z-index:99999;
} 

#abtimg {
	float: left;
	margin-right: 5px;
	margin-left: 5px;
}
#abtcontent {
	float: left;
	margin-left: 5px;
	width: 500px;
	margin-right: 5px;
}
#login {
	width: 490px;
	padding: 0px 10px;
	position: relative;
	z-index: 99999;
	top: 55px;
	margin: 0 auto;
	background: url(../images/loginbg-mid.gif) repeat-y;
	border: #ECECEC solid 1px;
}
.loginwrap {
	width: 400px;
	float: left;
}
.label1 {
	font-size: 14px;
	color: #000;
	text-align: left;
	float: left;
	padding: 4px 0px 0px 30px;
	width: 150px;
	font-family: Arial, Helvetica, sans-serif;
}
.label2 {
	font-size: 13px;
	color: #000;
	text-align: left;
	float: left;
	padding: 4px 0px 0px 0px;
	width: 280px;
	font-family: Arial, Helvetica, sans-serif;
}
.txtfild1wrap {
	width: 270px;
	float: left;
}
.txtfild1 {
	width: 260px;
	height: 24px;
	border: 1px solid #f2f5f5;
	padding: 2px;
	float: left;
	outline: none;
	background: url(../images/bg_txtfild.jpg) no-repeat;
}
.login_cont {
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	color: #000;
	margin: 8px 0px;
	font-family: 'Conv_MyriadPro-It_0';
}
.submit1 {
	margin: 0 auto;
	text-align: center;
}
.errormsg {
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	text-align: center;
	color: #ff0000;
	font-family: 'Conv_MyriadPro-Regular_0';
	width: 300px;
	padding: 0px 0px 10px 0px;
	margin: 10px auto;
}
#containercontact {
	margin: 0 auto;
	padding: 0px;
	width: 950px;
	margin-bottom: 20px;
}
#containercontact .pagehead {
	height: 35px;
	margin: 2px;
	color: #fff;
	font-size: 28px;
	font-family: 'ITC Leawood LT Bold';
	padding: 5px 0px 6px 25px;
}
#containercontact-content {
	margin: 0 auto;
	padding: 25px 0px;
	margin-bottom: 20px;
}
#containercontact-content a {
	text-decoration: underline;
	color: #f15a29;
}
#containercontact-content a:hover {
	text-decoration: underline;
	color: #f15a29;
}
#contactinfo {
	width: 335px;
	float: left;
	line-height: 22px;
	padding: 10px;
}
#contactform {
	width: 425px;
	float: left;
	border: #d3d3d3 solid 1px;
	padding: 25px;
	margin-top: 10px;
}
.left {
	text-align: left;
}
#contactform .clear50 {
	height: 100px;
}
label {
	float: left;
	width: 135px;
	font-size: 14px;
}
input, textarea {
	width: 320px;
	height: 25px;
	margin-bottom: 5px;
	border: solid 1px #bcc8d3;
	padding: 2px;
	font-size: 15px;
	color: #666;
}
textarea {
	width: 320px;
	height: 150px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #666;
}
select {
	height: 25px;
	margin-bottom: 5px;
	border: solid 1px #bcc8d3;
	padding: 2px;
	font-size: 15px;
}
.boxes {
	width: 1em;
}
#submitbutton {
	margin-left: 125px;
	margin-top: 5px;
	width: 90px;
	color: #fff;
	background: #f15a29;
	border: 0px;
	height: 35px;
	line-height: 30px;
	font-size: 18px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
}
br {
	clear: left;
}
.h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}.h3bold{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
}
.h4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	margin:6px 0px;
}
.videodimension{
	 width:700px; height:480px;
}
.wrapper {
	max-width:1280px;
	margin:0 auto;
	background:#fff;
}
.wrapbg
{max-width:1280px;
   position:relative;
    top:-1px;
    } 
	
.social-icons {
	float:right;
	margin-top:20px;
}
.social-icons a.facebook, .social-icons a.twitter{
	background:url(../images/social-facebook.gif) no-repeat;
	width:30px;
	height:33px;
	text-indent:-99999px;
	display:block;
	float:left;
}
.social-icons a.twitter{
	background:url(../images/social-twitter.gif) no-repeat;
}
.social-icons a.facebook:hover{
	background:url(../images/social-facebook-over.gif) no-repeat;
}
.social-icons a.twitter:hover{
	background:url(../images/social-twitter-over.gif) no-repeat;
}

.logo {float:left;  display:block;  height:123px; width:227px;}

	