.accordionHeader
{
	background: url(../images/HeaderTabBg.gif) center repeat-x;
	color: #000;
	text-align: left;
	font-weight: bold;
	width: auto;
	font-size: 12px;
	margin-top: 10px;
	padding: 4px 10px 4px 10px;
	border: 1px solid #999;
	cursor: pointer;
}
#master_content .accordionHeader a
{
	color: #FFF;
	background: none;
	text-decoration: none;
}
#master_content .accordionHeader a:hover
{
	background: none;
	text-decoration: underline;
}
.accordionHeaderSelected
{
	background: url(../images/HeaderTabBg.gif) center repeat-x;
	color: #000;
	text-align: left;
	font-weight: bold;
	width: auto;
	font-size: 12px;
	margin-top: 10px;
	padding: 4px 10px 4px 10px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	cursor: pointer;
}
#master_content .accordionHeaderSelected a
{
	color: #FFF;
	background: none;
	text-decoration: none;
}
#master_content .accordionHeaderSelected a:hover
{
	background: none;
	text-decoration: underline;
}
.accordionContent
{
	background-color: #FFF;
	border: 1px solid #999;
	border-top: none;
	padding: 5px;
	padding-top: 10px;
}
.autocomplete_completionListElement
{
	visibility: hidden;
	margin: 0px !important;
	background-color: inherit;
	color: windowtext;
	border: buttonshadow;
	border-width: 1px;
	border-style: solid;
	cursor: 'default';
	overflow: auto;
	height: 200px;
	text-align: left;
	list-style-type: none;
	width: 99.5%;
}
.autocomplete_highlightedListItem
{
	background-color: #83ACCA;
	color: #fff;
	padding: 1px;
	width: 99.5%;
}
.autocomplete_listItem
{
	background-color: #C8EAFF;
	color: windowtext;
	padding: 1px;
	width: 99.5%;
}
.collapsePanel
{
	background-color: white;
	overflow: hidden;
}
.collapsePanelHeader
{
	width: 100%;
	height: 30px;
	background-image: url(images/bg-menu-main.png);
	background-repeat: repeat-x;
	color: #FFF;
	font-weight: bold;
}
#master_content .collapsePanelHeader a
{
	color: #FFF;
}
#master_content .collapsePanelHeader a:hover
{
	text-decoration: none;
	background: none;
}
#master_content .dropShadowPanel span
{
	color: white;
	text-decoration: underline;
}
#master_content .dropShadowPanel span:hover
{
	text-decoration: none;
}
.dropShadowPanel
{
	width: 300px;
	background-color: #5377A9;
	color: white;
	font-weight: bold;
}
.dragMe
{
	width: 100%;
	height: 21px;
	background-color: #FFF;
	background-image: url(images/header-opened.png);
	text-align: center;
	cursor: move;
	font-weight: bold;
}
.overflowHidden
{
	overflow: hidden;
}
.overflowScroll
{
	overflow: hidden;
}
.popupMenu
{
	position: absolute;
	visibility: hidden;
	background-color: #F5F7F8;
	opacity: .9;
	filter: alpha(opacity=90);
}
.popupHover
{
	background-image: url(images/header-opened.png);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #F5F7F8;
}
.selectIndex
{
	font-weight: bold;
	text-decoration: none;
}
.unselectIndex
{
	font-weight: normal;
	text-decoration: underline;
}
.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.modalPopup
{
	background-color: #ffd;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 3px;
	width: 250px;
}
.sampleStyleA
{
	background-color: #FFF;
}
.sampleStyleB
{
	background-color: #FFF;
	font-family: monospace;
	font-size: 10pt;
	font-weight: bold;
}
.sampleStyleC
{
	background-color: #dfd;
	font-family: sans-serif;
	font-size: 10pt;
	font-style: italic;
}
.sampleStyleD
{
	background-color: Blue;
	color: White;
	font-family: Arial;
	font-size: 10pt;
}
.popupControl
{
	background-color: White;
	position: absolute;
	visibility: hidden;
}
.dragHandle
{
	width: 10px;
	height: 15px;
	background-color: Blue;
	background-image: url(images/bg-menu-main.png);
	cursor: move;
	border: outset thin white;
}
.callbackStyle
{
	border: thin blue inset;
}
.callbackStyle table
{
	background-color: #5377A9;
	color: Black;
}
.reorderListDemo li
{
	list-style: none;
	margin: 2px;
	background-image: url(images/bg_nav.gif);
	background-repeat: repeat-x;
	color: #FFF;
}
.reorderListDemo li a
{
	color: #FFF !important;
	font-weight: bold;
}
.reorderCue
{
	border: dashed thin black;
	width: 100%;
	height: 25px;
}
.itemArea
{
	margin-left: 15px;
	font-family: Arial,Verdana,sans-serif;
	font-size: 1em;
	text-align: left;
}
.roundedPanel
{
	width: 300px;
	background-color: #5377A9;
	color: white;
	font-weight: bold;
}
.frameImage
{
	width: 130px;
	height: 65px;
	overflow: hidden;
	float: left;
	padding: 3px;
}
.frameText
{
	width: 100px;
	height: 100px;
	overflow: auto;
	float: left;
	background-color: #fff;
	border-style: solid;
	border-width: 2px;
	border-color: Gray;
	font-family: Helvetica;
	line-height: normal;
}
.handleImage
{
	width: 15px;
	height: 16px;
	background-image: url(images/HandleHand.png);
	overflow: hidden;
	cursor: se-resize;
}
.handleText
{
	width: 16px;
	height: 16px;
	background-image: url(images/HandleGrip.png);
	overflow: hidden;
	cursor: se-resize;
}
.resizingImage
{
	padding: 0px;
	border-style: solid;
	border-width: 3px;
	border-color: #B4D35D;
}
.resizingText
{
	padding: 0px;
	border-style: solid;
	border-width: 2px;
	border-color: #7391BA;
}
.unwatermarked
{
	height: 18px;
	width: 148px;
}
.watermarked
{
	height: 20px;
	width: 150px;
	padding: 2px 0 0 2px;
	border: 1px solid #BEBEBE;
	background-color: #F0F8FF;
	color: gray;
}
.unwatermarkedtext150
{
	width: 148px;
}
.watermarkedtext150
{
	width: 150px;
	padding: 2px 0 0 2px;
	border: 1px solid #BEBEBE;
	background-color: #F0F8FF;
	color: gray;
}
.unwatermarkedLogin
{
	height: 21px;
	width: 238px;
}
.watermarkedLogin
{
	height: 22px;
	width: 240px;
	padding: 2px 0 0 2px;
	border: 1px solid #BEBEBE;
	background-color: #F0F8FF;
	color: gray;
}
.watermarkedPhysicals
{
	height: 16px;
	width: 500px;
	padding: 2px 0 0 2px;
	border: 1px solid #BEBEBE;
	background-color: #F0F8FF;
	color: gray;
	margin-right: 10px;
}
.unwatermarkedPhysicals
{
	height: 16px;
	width: 500px;
	border: 1px solid #69C;
	margin-right: 10px;
}
.ratingStar
{
	font-size: 0pt;
	width: 13px;
	height: 12px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	display: block;
	background-repeat: no-repeat;
}
.filledRatingStar
{
	background-image: url(Images/FilledStar.png);
}
.emptyRatingStar
{
	background-image: url(Images/EmptyStar.png);
}
.savedRatingStar
{
	background-image: url(Images/SavedStar.png);
}
.walkthrough li
{
	padding-bottom: 5px;
}
.walkthroughNote
{
	padding-left: 25px;
	font-style: italic;
}
.TextIndicator_TextBox1
{
	background-color: Gray;
	color: White;
	font-family: Arial;
	font-size: x-small;
	font-style: italic;
	padding: 2px 3px 2px 3px;
}
.BarIndicator_TextBox2_weak
{
	color: Red;
	background-color: Red;
}
.BarIndicator_TextBox2_average
{
	color: Blue;
	background-color: Blue;
}
.BarIndicator_TextBox2_good
{
	color: Green;
	background-color: Green;
}
.BarBorder_TextBox2
{
	border-style: solid;
	border-width: 1px;
	padding: 2px 2px 2px 2px;
	width: 200px;
	vertical-align: middle;
}
.TextIndicator_TextBox3
{
	background-color: Blue;
	color: Yellow;
	font-size: small;
	font-variant: small-caps;
	padding: 2px 3px 2px 3px;
}
.TextIndicator_TextBox3_Handle
{
	width: 16px;
	height: 14px;
	background-image: url(images/Question.png);
	overflow: hidden;
	cursor: help;
}
.TextIndicator_TextBox1_Strength1
{
	background-color: Gray;
	color: White;
	font-family: Arial;
	font-size: x-small;
	font-style: italic;
	padding: 2px 3px 2px 3px;
	font-weight: bold;
}
.TextIndicator_TextBox1_Strength2
{
	background-color: Gray;
	color: Yellow;
	font-family: Arial;
	font-size: x-small;
	font-style: italic;
	padding: 2px 3px 2px 3px;
	font-weight: bold;
}
.TextIndicator_TextBox1_Strength3
{
	background-color: Gray;
	color: #FFCAAF;
	font-family: Arial;
	font-size: x-small;
	font-style: italic;
	padding: 2px 3px 2px 3px;
	font-weight: bold;
}
.TextIndicator_TextBox1_Strength4
{
	background-color: Gray;
	color: Aqua;
	font-family: Arial;
	font-size: x-small;
	font-style: italic;
	padding: 2px 3px 2px 3px;
	font-weight: bold;
}
.TextIndicator_TextBox1_Strength5
{
	background-color: Gray;
	color: #93FF9E;
	font-family: Arial;
	font-size: x-small;
	font-style: italic;
	padding: 2px 3px 2px 3px;
	font-weight: bold;
}
.dynamicPopulate_Normal
{
	border: silver 1px inset;
	padding: 2px;
	text-align: center;
	height: 2em;
	margin: 5px;
	width: 200px;
}
.dynamicPopulate_Updating
{
	background-image: url(images/loading.gif);
	background-repeat: no-repeat;
	border: silver 1px inset;
	text-align: center;
	padding: 2px;
	height: 2em;
	margin: 5px;
	width: 200px;
}
.MaskedEditFocus
{
	background-color: #ffc;
	color: #000;
}
.MaskedEditMessage
{
	color: #f00;
	font-weight: bold;
}
.MaskedEditError
{
	background-color: #fcc;
}
.MaskedEditFocusNegative
{
	background-color: #ffc;
	color: #f00;
}
.MaskedEditBlurNegative
{
	color: #f00;
}
.MyCalendar .ajax__calendar_container
{
	border: 1px solid #646464;
	background-color: #95C6E5;
	color: #4040B2;
}
.MyCalendar .ajax__calendar_container td
{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	padding: 0px !important;
	border: 0px !important;
	margin: 0px !important;
	background-color: White !important;
	height: 0px !important;
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day, .MyCalendar .ajax__calendar_other .ajax__calendar_year
{
	color: black;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day, .MyCalendar .ajax__calendar_hover .ajax__calendar_month, .MyCalendar .ajax__calendar_hover .ajax__calendar_year
{
	color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day, .MyCalendar .ajax__calendar_active .ajax__calendar_month, .MyCalendar .ajax__calendar_active .ajax__calendar_year
{
	color: black;
	font-weight: bold;
}
.slideTitle
{
	font-weight: bold;
	font-size: small;
	font-style: italic;
}
.slideDescription
{
	font-size: small;
	font-weight: bold;
}
.validatorCalloutHighlight
{
	background-color: lemonchiffon;
}
.ListSearchExtenderPrompt
{
	font-style: italic;
	color: Gray;
	background-color: white;
}
.popupHover
{
	background-color: #F5F7F8;
}
#calex_popupDiv
{
    line-height:18px;
    }
