<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="USPDHubClientAlerts.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>

    <!-- Stage Server -->
    <add key="AppContactusPhotoPath" value="http://staging.uspdhub.com/MUSPDHubStaging"/>

    <!-- Production Server -->
    <!--<add key="AppContactusPhotoPath" value="http://www.uspdhub.com/muspdhub2.0"/>-->

    <!--Domain Names Start-->

    <!--USPDHub.com-->

    <add key="DomainName" value="USPDhub"/>
    <add key="CountryVerticalName" value="uspdhubcom"/>

  
    <!--InSchoolHub.com-->
    <!--<add key="DomainName" value="inSchoolHub"/>
    <add key="CountryVerticalName" value="inschoolhubcom"/>-->

    
    <!--twovie.com-->
    <!--<add key="DomainName" value="TwoVie"/>
    <add key="CountryVerticalName" value="twoviecom"/>-->

    
    <!--myyouthhub.com-->
    <!--<add key="DomainName" value="MyYouthHub"/>
    <add key="CountryVerticalName" value="myyouthhubcom"/>-->

    <!--Domain Names END--> 
    
    <!-- Production Service : http://www.uspdhub.com/TipsManagerService2.0/m_service/ClientService.asmx -->

 
    <add key="AdminUserID" value="admin@uspdhub.com"/>
    <add key="AdminPassword" value="candle"/>
    <add key="ClientServiceURL" value="http://www.uspdhub.com/USPDhubClientService/m_service/ClientService.asmx"/>


    <add key="RootPath" value=""/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
       <binding name="ClientServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.uspdhub.com/TipsManagerService2.0/m_service/ClientService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ClientServiceSoap"
        contract="ClientService.ClientServiceSoap" name="ClientServiceSoap" />
    </client>
  </system.serviceModel>
  <userSettings name="userSettings">
    <USPDHubClientAlerts.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="DurationTime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MessagesCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PoolDate" serializeAs="String">
        <value />
      </setting>
      <setting name="TipsCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="IsTrayIcons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsLoginTrayIcon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </USPDHubClientAlerts.Properties.Settings>
  </userSettings>
</configuration>