body
{
    background-color: white;
    font-size: .80em;
    font-family: "Segoe UI", Arial, Helvetica, Verdana, sans-serif !important;
    font-size: 10pt !important;
    Width:100%;
    color: #696969;
 
}