<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WOWZYDevServer" connectionString="Data Source=MALLI\SQLEXPRESS;Initial Catalog=USPDHub;User Id=sa;Password=123456" />
    <!--<add name="WOWZYDevServer" connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=USPDHUB;User Id=uspdhub;Password=uspdhub" />-->
  </connectionStrings>
  <appSettings>
    <add key="GoogleAPIKey" value="ABQIAAAAaMKmH1aBr8ziWZpY1fAfBxSWYlaMHSS-HTlbCJL7KGyVc59qSxQXu-Nr2rTI4LHQ2Vz5_aEy6ZbGpA" />
    <add key="AppThumbWidth" value="100" />
    <add key="AppThumbHeight" value="100" />
	  <add key="imgkeyval" value="A0doRPHevX3fWJeDUKPrRv82JhAZEo7yT6GudUHTDkiqVHRO8jTPvEE11UIKFyer" />
	  <add key="pdfkeyval" value="p7puTclbnKkiwDEBbqrmBOjMEWlhGRpUPyFudeNYQrrbiViiVgi6+DUR/DZCcJ3W" />
    <add key="WinnovativePDFKey" value="tTsrOisvOikiKjorKDQqOikrNCsoNCMjIyM6Kg=="/>
    <add key="ImageDraw40LicenseOwner" value="Darek Figueroa-Developer License" />
    <add key="ImageDraw40LicenseKey" value="UKRK9CEMPEZMHHLNKMRQBKQ7Y3KMHM4RP47NQ78WQPXNCCNX22CQ" />
	  <add key="USPDRootPath" value="http://localhost:2107" />
	  <add key="USPDFolderPath" value="C:\Applications\USPDhub\USPDHUB"/>
    <add key="IsSendgridSMTPServer_Port" value="False"/>
    <add key="SendgridSMTPServer_Port" value="587"/>
    <add key="SendgridSMTPServer_Username" value="azure_2c7c5ead564a444cd4a2bddc03607c1e@azure.com"/>
    <add key="SmtpServerName" value="www.inreachhub.com" />
    <add key="SmtpServer" value="Q2haIsTHiL/LIKhWq3if/g==" />
  </appSettings>
  <system.web>
    <sessionState timeout="5400"/>
    <httpRuntime executionTimeout="3600" maxRequestLength="2097151" requestValidationMode="2.0" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <customErrors mode="Off" defaultRedirect="wowzzyGenericErrorPage.htm">
      <error statusCode="403" redirect="wowzzyNoAccess.htm" />
      <error statusCode="404" redirect="wowzzyFileNotFound.htm" />
    </customErrors>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SendNitificationsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2107/PushSharpService/SendNitifications.asmx" binding="basicHttpBinding" bindingConfiguration="SendNitificationsSoap" contract="PushNotificationService.SendNitificationsSoap" name="SendNitificationsSoap" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".aspx" mimeType="application/aspx" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>