<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="WOWZYDevServer" connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=USPDHUB;User Id=uspdhub;Password=uspdhub" />
  </connectionStrings>
  <appSettings>

    <add key="imgkeyval" value="A0doRPHevX3fWJeDUKPrRv82JhAZEo7yT6GudUHTDkiqVHRO8jTPvEE11UIKFyer" />
    <add key="pdfkeyval" value="p7puTclbnKkiwDEBbqrmBOjMEWlhGRpUPyFudeNYQrrbiViiVgi6+DUR/DZCcJ3W" />
    <add key="searchresultscount" value="50" />
    <add key="ImageDraw40LicenseOwner" value="Darek Figueroa-Developer License" />
    <add key="ImageDraw40LicenseKey" value="UKRK9CEMPEZMHHLNKMRQBKQ7Y3KMHM4RP47NQ78WQPXNCCNX22CQ" />



    <add key="PIDs" value="10001"/>
    <add key="UIDs" value="125"/>
    <add key="DomainName" value="localhost"/>
    <add key="DBConnection" value="Data Source=SERVER\SQLEXPRESS;Initial Catalog=USPDHUB;User Id=uspdhub;Password=uspdhub"/>
    <add key="FolderPath" value="F:\USPDhub\USPDhub\DataTransferSevice\DataTransferSevice"/>


    <add key="ImagesFolder" value="F:\USPDhub\USPDhub\USPDHUB\Upload\Common\10001"/>
    <add key="NewAlbumImagesFolder" value="F:\USPDhub\USPDhub\USPDHUB\Upload\ContentGallery\10001"/>
    <add key="ImagesPID" value="10001"/>


    <add key="PhotosFolder" value="F:\USPDhub\USPDhub\USPDHUB\Upload\Photos\10001"/>
    <add key="NewAlbumFolder" value="F:\USPDhub\USPDhub\USPDHUB\Upload\AppGallery\10001"/>
    <add key="PhotosPID" value="10001"/>

    <add key="UploadFolderPath" value="E:\USPDhub\USPDhub\USPDHUB\Upload"/>
  </appSettings>
</configuration>
