body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	font-size: 12px;
	background-image:url(../images/tile-body.jpg);
}
#outerwrapper { 
	background-image: url(../images/tile_wrapper.png); 
	background-repeat: repeat-x; 
	width: 100%;
	height: 225px; 
	min-height: 50%; 
	margin-right: auto; 
	margin-left: auto; 
	}
#headercontainer {
		width:80%;
		margin-left:auto;
		margin-right:auto;
}
.logo {
	float:left;
	text-align:left;
}
.sm {
	float:right;
	text-align:right;
}
#contentwrap {
	width: 957px;
	margin: -27px auto;
	position: relative;
	background: #fff;
}
img {
	border: 0px;
	outline: none;
}
.clear {
	clear: both;
}
.clear40 {
	clear: both;
	height: 80px;
}
.clear41 {
	clear: both;
	height: 21px;
}
.clear10 {
	clear: both;
	height: 10px;
}
.clear15 {
	clear: both;
	height: 15px;
}
#header {
	width: 100%;
}

#content {
	width: 857px;
	margin: 0 auto;
	z-index: 99999;
	background: url(../images/bg_banner.png) repeat-y;
	padding: 23px 50px 0px 50px;
	overflow: hidden;
	position: relative;
	top: -1px;
}
.contentblock {
	float: left;
	width: 480px;
	text-align: center;
	margin: 0px 0px 0px 0px;
}
#footer {
	width: 899px;
	height: 50px;
	clear: both;
	text-align:right;
	padding-right:30px;
}
#footer .footerlinks {
	font-size: 11px;
	color: #7a7a7a;
	float: right;
	font-family:Tahoma, Geneva, sans-serif;
	padding: 22px 0px 0px 0px;
	text-align: right;
	position: relative;
}
#footer .footerlinks a {
	font-size: 11px;
	color: #7a7a7a;
	font-family:Tahoma, Geneva, sans-serif;
	text-decoration: none;
}
#footer .footerlinks a:hover {
	font-size: 11px;
	color: #6bac53;
	font-family: Tahoma, Geneva, sans-serif;
	text-decoration: underline;
}
.followus {
	font-size: 24px;
	color: #fff;
	float: left;
	position: relative;
	left: 30px;
	font-family:Tahoma, Geneva, sans-serif;
	padding: 38px 0px 0px 0px;
}

.captch {
	margin: 20px 0px 0px 300px;
}
.scrollup {
	width: 40px;
	height: 40px;
	opacity: 0.3;
	position: fixed;
	bottom: 100px;
	right: 100px;
	display: none;
	z-index: 99999;
	text-indent: -9999px;
	background: url(../images/icon_top.png) no-repeat;
}
#content p {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
	margin: 12px 20px 0px 30px;
	padding: 0px;
	line-height: normal;
}
#content .pagehead {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 32px;
	font-weight: normal;
	color: #000000;
	margin: 0px 0px 25px 30px;
	padding: 0px;
	text-align: center;
	line-height: normal;
}

.video{
	position:relative;
	z-index:99999;
} 
br {
	clear: left;
}
.h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}.h3bold{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
}
.h4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	margin:6px 0px;
}
.videodimension{
	 width:700px; height:480px;
}
.wrapper {
	max-width:1280px;
	margin:0 auto;
}
.wrapbg
{max-width:1280px;
   position:relative;
}
