<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="WOWZYDevServer" connectionString="Data Source=192.168.1.100;Initial Catalog=test;User Id=wowusa;Password=wowusa"/>-->
		<!--<add name="WOWZYDevServer" connectionString="Data Source=MALLI\SQLEXPRESS;Initial Catalog=USPDHub;User Id=sa;Password=123456" />-->
    <add name="WOWZYDevServer" connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=USPDHUB;User Id=uspdhub;Password=uspdhub" />
	</connectionStrings>
	<appSettings>
		<add key="GoogleAPIKey" value="ABQIAAAAaMKmH1aBr8ziWZpY1fAfBxSWYlaMHSS-HTlbCJL7KGyVc59qSxQXu-Nr2rTI4LHQ2Vz5_aEy6ZbGpA" />
		<add key="RootPath" value="http://localhost:2107" />
		<add key="SRootPath" value="http://localhost:2107" />
		<add key="EmailFrom" value="malli.nookala@gmail.com" />
		<add key="Emailinfo" value="noreply@uspdhub.com" />
		<add key="CampaignEMailFrom" value="CP@uspdhub.com" />
		<add key="NewsletterFromEMail" value="support@uspdhub.com" />
		<add key="EventFromEMail" value="support@uspdhub.com" />
		<add key="CouponFromEMail" value="support@uspdhub.com" />
		<add key="UpdateFromEMail" value="support@uspdhub.com" />
		<add key="helpdesk" value="support@uspdhub.com" />
		<add key="salesdesk" value="sales@uspdhub.com" />
		<add key="Emailinfo1" value="info@uspdhub.com" />
		<add key="testalertuserid" value="148" />
		<add key="EmailSupport" value="support@uspdhub.com" />
		<add key="EmailAdmin" value="admin@inreachhub.com" />
		<add key="SmtpServerName" value="www.inreachhub.com" />
		<add key="SmtpServer" value="Q2haIsTHiL/LIKhWq3if/g==" />
		<add key="paypalAccount" value="darek@inreachhub.com" />
		<add key="imgkeyval" value="A0doRPHevX3fWJeDUKPrRv82JhAZEo7yT6GudUHTDkiqVHRO8jTPvEE11UIKFyer" />
		<add key="pdfkeyval" value="p7puTclbnKkiwDEBbqrmBOjMEWlhGRpUPyFudeNYQrrbiViiVgi6+DUR/DZCcJ3W" />
		<add key="searchresultscount" value="50" />
		<add key="ImageDraw40LicenseOwner" value="Darek Figueroa-Developer License" />
		<add key="ImageDraw40LicenseKey" value="UKRK9CEMPEZMHHLNKMRQBKQ7Y3KMHM4RP47NQ78WQPXNCCNX22CQ" />
		<add key="AdminUserID" value="admin@inreachhub.com" />
		<add key="AdminPassword" value="admin" />
		<add key="Addcitycost" value="5" />
		<add key="Addindustrycost" value="25" />
		<add key="AffiliateUsageCount" value="50" />
		<add key="GeneralTabUsageCount" value="50" />
		<add key="CouponUsageCount" value="10" />
		<add key="SubjectforMarketingEmails" value="Test Email From InReachHUB" />
		<add key="EmailUsageCount" value="50" />
		<add key="SecurePath" value="http://localhost:2107/secure" />
		<add key="MarketingEmail" value="sale@inreachhub.com" />
		<add key="NumberofMarketingEmails" value="5" />
		<add key="MasterResellerLimit" value="37" />
		<add key="Level2Reseller" value="20" />
		<add key="Level3Reseller" value="20" />
		<add key="MonthlySubscriptionAmount" value="22" />
		<add key="YearlySubscriptionAmount" value="97" />
		<add key="TotalNoCities" value="10" />
		<add key="Resellersubject" value="Lets team up to earn good commissions" />
		<add key="TotalNoIndustries" value="3" />
		<add key="TotalDiscountonPercentageforReseller" value="34" />
		<add key="Generaltabname" value="Network Connections" />
		<add key="NewsletterUsageCount" value="1,000" />
		<add key="UnlimtedUserEmailsCount" value="1,000" />
		<add key="YearRegistrationDiscount" value="0" />
		<add key="twoYearRegistrationDiscount" value="0" />
		<add key="couponslimit" value="5" />
		<add key="BusinessUpdateUsageCount" value="50" />
		<add key="MaxNewslettercampaignlimit" value="5" />
		<add key="MaxBusUpdatescampaignlimit" value="3" />
		<add key="MaxCouponcampaignlimit" value="3" />
		<add key="MaxEventscampaignlimit" value="3" />
		<add key="MaxBulletinscampaignlimit" value="3" />
		<add key="EventUsageCount" value="50" />
		<add key="BulletinUsageCount" value="50" />
		<add key="NotificationsDaysForMonth" value="10" />
		<add key="NotificationsDaysForYear" value="30" />
		<add key="RedirectVal" value="1" />
		<add key="OuterRootURL" value="http://localhost:2107" />
		<add key="FlvConverterPath" value="C:\Program Files\SourceTec\vee\vee.exe" />
		<add key="PlayerPath" value="http://localhost:2107" />
		<add key="MessageUsageCount" value="50" />
		<add key="ContactsPageSize" value="500" />
		<add key="TestMail" value="True" />
		<add key="FreetrailAlert" value="30 Day Trial" />
		<add key="NewsletterModifiedDate" value="09/11/2011" />
		<add key="SendInvitationSubject" value="Follow up from our conversation" />
		<add key="EmailValid" value="Account is already in use." />
		<add key="gmailapikey" value="305674143219-bipq8eotmumdm3a78km4ni700eocfaq3.apps.googleusercontent.com" />
		<add key="gmailapisecret" value="IKAIZynE6-3UDwVwemdenB8Q" />
		<add key="EmailsperdayError" value="Please enter only numbers." />
		<add key="GridViewPageSize" value="1" />
		<add key="FlyerMenuItem" value="Flyers" />
		<add key="UpdateMenuItem" value="Updates" />
		<add key="CouponMenuItem" value="Coupons" />
		<add key="EventMenuItem" value="Events" />
		<add key="AutosendItem" value="Auto Send Manager" />
		<add key="ReportsInquiryGroupName" value="Report Inquiries" />
		<add key="ReportsInquiryUsers" value="rich@6060building.com" />
		<add key="ReportsInquiryMsg" value="Your report has been sent. Please check your email." />
		<add key="TelecallerSendInvitation" value="Already, an invitation has been to send to this user. Please select another user." />
		<add key="Disclaimer" value="Disclaimer: This site is optimized for 1024x768 resolution and works best with Internet Explorer 8.0 and up. Please upgrade to IE 8:" />
		<add key="FreeEmails" value="2000" />
		<add key="ExistingUserEmails" value="2000" />
		<add key="UlimitedExistingUserEmails" value="10000" />
		<add key="IsPaymentChecking" value="Yes" />
		<add key="PurchaseTools" value="Purchased Tools" />
		<add key="Template1" value="border:10px solid #939C10; background-color:#FFFFFF;" />
		<add key="AppointmentloginText" value="http://localhost:2107/login" />
		<add key="GooglePlaceSetup" value="malli.nookala@logictreeit.com" />
		<add key="AutosendDefaultListRows" value="8" />
		<add key="ContactsLimitForUser" value="1,00,000" />
		<add key="LoginSuspendedError" value="Your account has been suspended.&lt;br/&gt; Please contact us at 1-866-676-7335 Monday - Friday 8 a.m. - 5 p.m. PST or email us at info@uspdhub.com." />
		<add key="UserErrorMail" value="malli.nookala@logictreeit.com" />
		<add key="MaxLengthForTabs" value="39" />
		<add key="PremiumEmails" value="5000" />
		<add key="TabEmailID" value="malli.nookala@logictreeit.com" />
		<add key="runwizard" value="2" />
		<add key="1" value="12" />
		<add key="2" value="17" />
		<add key="3" value="39" />
		<add key="4" value="54" />
		<add key="5" value="74" />
		<add key="5000" value="3" />
		<add key="10000" value="5" />
		<add key="25000" value="8" />
		<add key="AccountSetup" value="49.99" />
		<add key="LevelFiveSetup" value="79.99" />
		<add key="Keyoti-RapidSpellWeb-LicenseKey" value="2425263D7920257875787E202E7B487E7675263B443E3B3F45483F434342484" />
		<add key="RenameRootPath" value="/Wowzzy/Upload/tempnewsletter/" />
		<add key="RenameRootPath1" value="/FlyersProtoType/Upload/tempnewsletter/" />
		<add key="TimeSlot" value="15" />
		<add key="ReferBy" value="InReachHub" />
		<add key="EnableSsl" value="false" />
		<add key="AndroidAPI" value="AIzaSyA3lGgQwAfMoWr004r4KPgr48PeTjzSMTo" />
		<add key="verifystatuspaid" value="Paid" />
		<add key="verifystatusinvoice" value="Invoiced" />
		<add key="IPhoneSandbox" value="true" />
		<add key="P12File" value="AIzaSyCI7ld7xU8zcXyXzr2i5Ms_jsKhUuwvYXQ" />
		<add key="AssociateCount" value="2" />
		<add key="IsErrorLog" value="False" />
		<add key="CrisisExport" value="Crisis Call Log" />
		<add key="localhost" value="localhost" />
		<add key="CheckInschoolHubCountry" value="True" />
		<add key="MaxPoll" value="1" />
		<add key="MaxQuestionOptions" value="10" />
		<add key="MinQuestionOptions" value="2" />
		<add key="ChartImageHandler" value="storage=file;timeout=20;" />
		<add key="uspdhubpkg" value="99" />
		<!--<add key="uspdhubpkgBranded" value="1188" />-->
		<add key="uspdhubpkgBranded" value="1699" />
		<add key="uspdhubpkgSub" value="500" />
		<!--<add key="twoviepkg" value="115" />
    <add key="twoviepkgAnnual" value="1188"/>
    <add key="twoviepkgBranded" value="1188"/>-->
		<add key="twoviepkg" value="162" />
		<add key="twoviepkgAnnual" value="1699" />
		<add key="twoviepkgBranded" value="1699" />
		<add key="twoviepkgSub" value="500" />
		<!--<add key="InSchoolHubYearPackage" value="500" />-->
		<add key="InSchoolHubYearPackage" value="799" />
		<add key="InSchoolHubYearPackageSub" value="250" />
		<add key="InSchoolHubInPackage" value="3000" />
		<add key="IsPaidApp" value="for your paid app" />
		<add key="SubAppsCount" value="10" />
		<add key="IsUpdateDescription" value="True" />
		<add key="UrlInschoolIndia" value="inschoolhub.in" />
		<add key="OneTimeSetupFee" value="750.00" />
		<add key="ShoppingCartRootPath" value="http://localhost:2073" />
		<add key="SMSUserName" value="hdcf" />
		<add key="SMSPassword" value="557586" />
		<add key="SMSSenderID" value="HDCFHY" />
		<add key="RepeatEventOX" value="20" />
		<add key="RepeatEventED" value="10" />
		<add key="ShortLogoWidth" value="110" />
		<add key="ShortLogoHeight" value="110" />
		<add key="LongLogoWidth" value="640" />
		<add key="LongLogoHeight" value="165" />
		<add key="USPDVirtualFolderPath" value="E:\USPDHub\USPDHUB\USPDHUB" />
		<add key="MaxPhotAlbumPhotoWidth" value="1500" />
		<add key="AppContactUsPhotosFolderName" value="C:\inetpub\wwwroot\MUSPDHub1.1\Upload" />
		<add key="GalleryImgMaxWidth" value="300" />
		<add key="UploadMaxGalleryImagesCount" value="10" />
    <add key="Start" value="1" />
    <add key="End" value="12" />
		<!--10 Means 10 MB-->
		<add key="UploadMaxGalleryImagesSize" value="10" />

		<!-- The below 4 IDs are pointing to USPDhub test server -->
		<add key="FacebookUSPDAppID" value="521238031303338" />
		<add key="FacebookUSPDAppSecret" value="b3b88a4b44671d01cc84c2e7a71a7d1c" />
		<add key="TwitterUSPDConsumerID" value="pIarPf3XQM65YXiWNKp4g" />
		<add key="TwitterUSPDConsumerSecret" value="wpS39GYEX4DZa1wuOFGgYrId80bD9avJvVVRznd1B0" />

		<!--The below 4 IDs are pointing to Twovie test server-->
		<add key="FacebookTwovieAppID" value="263243217133753" />
		<add key="FacebookTwovieAppSecret" value="f3005b110ebdcb4cfa17cd5ca94218ae" />
		<add key="TwitterTwovieConsumerID" value="3ocFtKP7NxL24xbl9RY2w" />
		<add key="TwitterTwovieConsumerSecret" value="QIHqc133xKd4JpqDEFJgDiF2PLTJJw50CzN17KFV8" />

		<!--The below 4 IDs are pointing to MYH test server-->
		<add key="FacebookMYHAppID" value="576655295782814" />
		<add key="FacebookMYHAppSecret" value="563357c4f0d20c0f73b6ccd929f8948a" />
		<add key="TwitterMYHConsumerID" value="wEE6ZwnBIkSLRiXvLdDLFSVBE" />
		<add key="TwitterMYHConsumerSecret" value="5LdM0OctVd4Sm4agKcvMJYFmJ4uQmO4Eo4apLxdJhV62hOo8Ad" />

		<!--The below 4 IDs are pointing to ISH test server-->
		<add key="FacebookISHAppID" value="384667024997691" />
		<add key="FacebookISHAppSecret" value="c9fa71090f65012b6eebe5f633fb3398" />
		<add key="TwitterISHConsumerID" value="p6kzIttwfM1ww3clZnzbKg" />
		<add key="TwitterISHConsumerSecret" value="6Jw99ogjYlnRAjmSWqHAUEYabrmoHWgMZ3SqAM" />

		<!-- The below 4 IDs are pointing localhost -->
		<add key="FacebookAppID" value="765062993572794" />
		<add key="FacebookAppSecret" value="e208cc6295d4c1e1a77660d17039b9ef" />
		<add key="TwitterConsumerID" value="pIarPf3XQM65YXiWNKp4g" />
		<add key="TwitterConsumerSecret" value="wpS39GYEX4DZa1wuOFGgYrId80bD9avJvVVRznd1B0" />

		<add key="LocalhostAppName" value="MyAppTest" />
		<add key="UspdhubAppName" value="USPDhub" />
		<add key="TwovieAppName" value="Twoviehub" />
		<add key="MyYouthHubAppName" value="MyYouthHub" />
		<add key="InschoolhubAppName" value="InSchoolHub" />
		<add key="GoogleKeyShortenUrl" value="AIzaSyCEqYiruAw8v1YpBhqDcMVnmZGDw5Pc8Vo" />
		<add key="InvoiceBCC" value="support@logictreeit.com" />
		<add key="AppThumbWidth" value="100" />
		<add key="AppThumbHeight" value="100" />
		<add key="AppContactusPhotoPath" value="http://localhost:2107" />
		<add key="AppContactUsPhotosFolderName" value="E:\USPDhub\USPDhub\USPDHUB\Upload" />
		<add key="PushNotificationServiceURL" value="http://localhost:2107/PushSharpService/SendNitifications.asmx" />

		<add key="UserFormsRootPath" value="http://localhost:63716/Default.aspx"/>

		<add key="UserFormsRootPath" value="http://localhost:56155/Default.aspx"/>

		<add key="UserFormsRootPath" value="http://localhost:56155/Default.aspx" />

    <!-- Generic Apps Store URLS -->
    <add key="USPDhubAppurl" value="http://qrs.ly/am4xo2s" />
    <add key="TwoVieAppurl" value="http://qrs.ly/xq4xo47" />
    <add key="InSchoolHubAppurl" value="http://qrs.ly/kn4xo3t" />
    <add key="MyYouthHubAppurl" value="http://qrs.ly/ld4xo4k" />
    <add key="USPDEmailContentFolderPath" value="E:\USPDhub\USPDhub\USPDHUB" />
    <add key="BrandedAppRequestPath" value="E:\USPDhub\USPDhub\USPDHUB\Upload" />

    <add key="BrandedAppFlyerLogoWidth" value="100" />
    <add key="BrandedAppFlyerLogoHeight" value="100" />
	</appSettings>
	<system.web>
		<sessionState timeout="5400" />
		<httpRuntime executionTimeout="3600" maxRequestLength="2097151" requestValidationMode="2.0" />
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha " />
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
		</httpHandlers>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</controls>
		</pages>
		<customErrors mode="Off" defaultRedirect="wowzzyGenericErrorPage.htm">
			<error statusCode="403" redirect="wowzzyNoAccess.htm" />
			<error statusCode="404" redirect="wowzzyFileNotFound.htm" />
		</customErrors>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SendNitificationsSoap" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:2107/PushSharpService/SendNitifications.asmx" binding="basicHttpBinding" bindingConfiguration="SendNitificationsSoap" contract="PushNotificationService.SendNitificationsSoap" name="SendNitificationsSoap" />
		</client>
	</system.serviceModel>
	<system.webServer>
		<handlers>
			<remove name="ChartImageHandler" />
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
		<defaultDocument>
			<files>
				<add value="Default.aspx" />
			</files>
		</defaultDocument>
		<staticContent>
			<mimeMap fileExtension=".aspx" mimeType="application/aspx" />
		</staticContent>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
			</dependentAssembly>

			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>